<main class="page__main">
  <h2 class="title">
    Rellena los datos y obtén el impoete final de tu factura
  </h2>
  <div class="calculator">
    <section class="calculator__data">
      <form class="form">
        <fieldset class="form__fieldset">
          <legend class="form__title">Base imponible (€)</legend>
          <input type="text" id="tax-base" />
        </fieldset>

        <fieldset class="form__fieldset">
          <legend class="form__title">Impuestos</legend>
          <input type="radio" id="iva" />
          <label for="iva">IVA (%)</label>
          <input type="number" value="21" />
          <p class="form__result">0,00 €</p>
          <input type="radio" id="irpf" />
          <label for="irpf" value="15">IRPF (%)</label>
          <input type="number" />
          <p class="form__result">0,00 €</p>
        </fieldset>
      </form>
    </section>
    <div>  <section class="calculator__result">
        <p class="calculator__result--title">Precio con IVA:</p>
        <p class="calculator__result--total">0,00 €</p>
        <p class="calculator__result--title"">IMPORTE TOTAL FACTURA:</p>
        <p class="calculator__result--total">0,00 €</p>
        <p class="calculator__result--title"">Lo que me llevo:</p>
        <p class="calculator__result--total">0,00 €</p>
      </section>
      <section class="calculator__final">
          <p class="calculator__final--title">Lo que me llevo:</p>
          <p class="calculator__result--total">0,00 €</p>
        </section></div>
  
  </div>
</main>
