.page__header {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 3rem;
  flex-direction: column;
  gap: 30px;
  padding: 60px 0;

  h1 {
    margin-bottom: 20px;
    font-size: 3.5rem;
  }
  p {
    margin-bottom: 20px;
    font-size: 2.1rem;
    text-align: justify;
  }
  button {
    width: 180px;
    padding: 15px;
    border: none;
    border-radius: 40px;
    background-color: $color-primary;
    color: white;
    text-transform: uppercase;
  }

  img {
    width: 100%;
    max-width: 550px;
    object-fit: fill;
  }
  @media all and (min-width: 768px) {
    padding: 60px;
    flex-direction: row;
    .page__header--info {
      width: 60%;
    }
  }
  @media all and (min-width: 1440px) {
    margin: 0 auto;
    width: 60%;
    h1 {
      font-size: 5rem;
    }
    p {
      font-size: 3rem;
    }
  }
}
