.page__main {
  width: 100%;
  height: auto;
  padding: 60px 0;
  .title {
    font-size: 2.8rem;
    color: $color-primary;
    text-align: center;
  }

  .calculator {
    display: flex;
    flex-direction: column;
    align-items: first flex-start;
    justify-content: center;
    gap: 40px;
    margin-top: 40px;

    @media all and (min-width: 768px) {
      flex-direction: row;
    }
  }
  .form {
    padding: 40px;
    box-shadow: 5px 10px 20px $color-secondary;

    &__fieldset {
      border-style: none;

      &--section {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        gap: 20px;
        padding-bottom: 30px;
      }
    }

    &__title {
      font-size: 2rem;
      color: $color-primary;
    }
    label {
      font-size: 1.8rem;
    }
    input {
      margin: 16px 0;
      padding: 10px;
      font-size: 1.8rem;
      border: 1px solid black;
      border-radius: 8px;
      text-align: end;
    }

    input:nth-child(2) {
      width: 100%;
    }

    input:nth-child(3) {
      flex-grow: 4;
    }

    &__result {
      padding: 10px;
      width: 210px;
      font-size: 1.8rem;
      border: 1px solid black;
      border-radius: 8px;
      text-align: end;
      flex-grow: 4;
    }
  }
  .calculator__result {
    display: absolute;
    transform: translateY(20px);
    padding: 40px;
    background-color: $color-primary;
    border-radius: 30px;
    z-index: 5;

    p:nth-child(3) {
      margin-top: 30px;
      padding-top: 20px;
      border-top: 2px solid white;
    }

    &--title {
      font-size: 2rem;
      color: white;
    }
    &--total {
      padding: 10px;
      margin: 20px 0 18px 0;
      font-size: 1.8rem;
      border-radius: 8px;
      background-color: white;
      text-align: end;
    }

    @media all and (min-width: 768px) {
      width: 50vw;
    }
  }
  .calculator__final {
    width: 100%;
    padding: 40px;
    background-color: $color-secondary;
    border-radius: 0 0 30px 30px;
    &--title {
      padding-top: 20px;
      font-size: 2rem;
      color: black;
    }
  }
}
